.popover-wrapper {
    position: relative;
    display: flex;
    align-self: center;

    .item-popover {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 7rem;
        right: 0;
        top: 100%;
        background: var(--bg);
        border: 1px solid var(--border-color);
        border-radius: 6px;
        z-index: 10005;
    }

    button {
        align-items: center;
        cursor: pointer;

        color: var(--text);
        background: transparent;
        border: 1px solid transparent;
        border-radius: 6px;
        opacity: 0.3;

        &:hover {
            transition: opacity 0.2s ease;
            opacity: 1;
        }

        &:active {
            transform: scale(0.96);
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.15;
        }
    }
}

.list-actions {

    display: flex;
    justify-content: space-between;
    height: 1.5rem;
    margin: 1rem;

    button {
        color: var(--text);
        background: transparent;
        border: 1px solid transparent;
        border-radius: 6px;
        opacity: 0.3;

        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }
}