@media (max-width: 1300px) {
	#create-list-form {
		max-width: 100%;
	}
}

@media (max-width: 1000px) {
	.lists-container {
		margin: 0;
	}
}

@media (max-width: 680px) {
	.patchnotes-modal {
		left: 70px;
	}
}

@media (max-width: 500px) {
	.patchnotes-modal {
		left: 0px;
		top: 49px;
		width: 100%;
		height: 100vh;
	}
}

@media (max-width: 340px){
	button {
		font-size: 0.8rem;
	}
}