@media (max-width: 1300px) {
	#create-list-form {
		max-width: 100%;
	}
}

@media (max-width: 1000px) {
	.lists-container {
		margin: 0;
	}

	.item-wrapper {
		.todo-actions {
			visibility: visible;
		}
	}
}

@media (max-width: 340px) {
	button {
		font-size: 0.8rem;
	}
}