#app {
	--bg: #eee;
	--text: #111;
	--list-bg: #f0dcfd;
	--header-bg: #f0dcfd;
	--list-input-bg: #f0dcfd;
	--modal-bg: rgba(237, 232, 208, 0.95);
}

#app[data-theme="darkMode"] {
	--bg: #191E2C;
	--text: #eee;
	--list-bg: #2B2F3E;
	--header-bg: #2B2F3E;
	--list-input-bg: #2B2F3E;
	--modal-bg: rgba(0, 0, 0, 0.9);
}

#app[data-theme="lightMode"] {
	--bg: #eee;
	--text: #111;
	--list-bg: #f0dcfd;
	--header-bg: #f0dcfd;
	--list-input-bg: #f0dcfd;
	--modal-bg: rgba(237, 232, 208, 0.95);
}

#app {
	background: var(--bg);
	color: var(--text);
}

#create-list-form {
	input {
		background-color: var(--bg);
		color: var(--text);
	}
}

.list-component {
	background-color: var(--list-bg);
}

.list-component input {
	background-color: var(--list-input-bg);
	color: var(--text);
}

#top-header {
	background-color: var(--header-bg);
}

#top-header .nav-menu-toggle {
	color: var(--text);
}

#top-header .login-button {
	color: var(--text);
}

.patchnotes-modal {
	background-color: var(--modal-bg);
}