#list-page-wrapper {
    width: 50%;
    position: absolute;
    left: 25%;

    .list-component {
        .list-title {
            p {
                display: inline;
            }
        }
    }
}


@media (max-width: 780px) {
    #list-page-wrapper {
        width: 100%;
        left: 0;
    }
}