.list-page-container {
    width: 100%;

    .list-page-wrapper {
        .list-component {
            width: 65%;
            margin: auto;

            .list-title {
                p {
                    display: inline;
                }
            }

        }
    }
}

.breadcrumb-tree {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-left: 1rem;

    li {
        display: flex;
        gap: 0.5rem;

        a {
            color: var(--text);
            text-decoration: none;
        }
    }
}



@media (max-width: 780px) {
    .list-page-wrapper {
        width: 100%;

        .list-component {
            width: 95% !important;
            margin: 0.5rem;

        }
    }

    .breadcrumb-tree {
        margin: 0
    }
}