.top-header {
	display: none;
	z-index: 10001;
	position: sticky;
	top: 0;
	background-color: var(--header-bg);

	.wrapped-nav-button {
		align-self: flex-start;
		background: none;
		border: none;
		padding: 0;
		cursor: pointer;
		color: inherit;
		font: inherit;
		margin: 1rem;
	}

	.nav-menu-toggle {
		display: none;
		background: none;
		border: none;
		color: var(--text);
	}
}


@media (max-width: 600px) {
	.top-header {
		display: block;
		nav {
			display: flex;
			justify-content: space-between;

			.nav-menu-toggle {
				display: block !important;
				margin: 1rem;
			}
		}
	}
}