.list-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1500px) {
    .list-view {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1200px) {
    .list-view {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 880px) {
    .list-view {
        grid-template-columns: 1fr;
    }
}