.list-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1300px) {
    .list-view {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1000px) {
    .list-view {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 680px) {
    .list-view {
        grid-template-columns: 1fr;
    }
}