#top-header {
	height: 3rem;
	z-index: 1000;
	position: sticky;
	top: 0;

	nav {
		height: 100%;
		display: flex;
		padding-inline: 1rem;
		flex-direction: row;
		justify-content: space-between;
		border-bottom: black 1px solid;

		h1 {
			align-self: center;
		}
	}
}

#patchnotes-toggle {
	align-self: center;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	color: inherit;
	font: inherit;
}

#dark-mode-toggle {
	align-self: center;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	color: inherit;
	font: inherit;
}

.lists-container {
	margin: 2rem;
}