#app {
	display: flex;
	flex-direction: column;
}

.lists-container {
	margin: 2rem;
	margin-bottom: 0;
}

#lists-heading,
#sort-dropdown {
	margin: 1rem;
}

.visibility-dropdown {
	margin-left: 1rem;
}


.drag-button {
	cursor: grab;
	margin-top: 0.2rem;
	touch-action: none;
	-webkit-user-select: none;
	user-select: none
}

@media (max-width: 600px) {
	.drag-button {
		padding: 0.5rem;
		font-size: 1.3rem;
	}
}