.layout {
    display: flex;
    flex: 1;
    min-height: 0;
    margin-bottom: 3rem;
}

.content {
    margin-left: 15rem;
    width: 100%;
    overflow-y: visible;
}

#page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .content {
        margin-left: 0;
    }
}