.progress-bar-container {
    background-color: var(--progress-container);

    border-radius: 4px;

    .progress-bar-fill {
        background-color: var(--progress-fill);

        transition: width 0.3s ease;
    }
}